#input-field {
    width: 100%;
}

.textarea-error {
    background: #f2b5af;
}

@media (max-width: 767px){
    #input-field {
        max-height: 4em;
    }
    #Test {
        max-height: 12em;
        overflow-y: scroll;
    }
}