{% extends "home.html" %}
{% block content %}
<div class="row">
{#Title#}
    <div class="span4 offset2">
        <h1>Typing Test</h1>
    </div>
</div>
<div class="row">
    <div class="span8">
        <p id="Test">'O Captain, my Captain.' Who knows where that comes from? Anybody? Not a clue? It's from a poem by Walt Whitman about Mr. Abraham Lincoln. Now in this class, you can either call me Mr. Keating, or if you're slightly more daring, O Captain, my Captain. Now let me dispel a few rumors so they don't fester into facts. Yes, I too attended Hell-ton and survived. And no, at that time I was not the mental giant you see before you. I was the intellectual equivalent of a ninety-eight pound weakling. I would go to the beach and people would kick copies of Byron in my face.</p>
    </div>
</div>
<div class="row">
    <div class="span8">
        <textarea rows="10" autofocus="true" id="input-field"></textarea>
    </div>
</div>
<div class="">
    <form action="\" method="post" id="test_result">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">
    </form>
</div>

<div class="modal">
    <div class="modal-header">
        <h3>Survey</h3>
    </div>
    <div class="modal-body">
        <label for="model-email">Email</label>
        <input type="email" id='model-email'>
        <label for="model-age">Age</label>
        <input type="number" min='1' max="150" id='model-age'>
        <label for="model-gender">Gender</label>
        <select id="model-gender">
            <option value="not disclose">Not Disclose</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <div class="modal-footer">
        <button id="model-ok" class="btn btn-primary">Ok</button>
    </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/typing_test.js"></script>
{% endblock %}
